<div id="<%= dom_id project %>">
  <p>
    <strong>Project Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <h2>Phases</h2>
  <% for phase in project.phases %>
      <ul>
        <li><%= phase.name %> | </li>
    </ul>
  <% end %>

  


</div>
