<div id="<%= dom_id phase %>">
  <p>
    <strong>Nombre del proyecto:</strong>
    <%= phase.project.title %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= phase.name %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= phase.end_date %>
  </p>

</div>
