<p style="color: green"><%= notice %></p>

<h1>Phases</h1>

<div id="phases">
  <% @phases.each do |phase| %>
    <%= render phase %>
    <p>
      <%= link_to "Show this phase", project_phase_path(@project, phase) %>
    </p>
  <% end %>
</div>

<%= link_to "New phase", new_project_phase_path %>
